{%  extends 'base.html.twig' %}


{% block title %}
    <title>{{ "Les articles"}}</title>
{% endblock %}


{% block main %}
    {% for article in articles %}
        <article class="full-list">
                <h2>{{ article. title }}</h2>
                <p>{{ article. author }}</p>

            <div class="moove-bouton">
            <a class="bouton" href="{{ path('admin_article', {'id':article.id}) }}">OUVRE TOI</a>

            </div>

        </article>
    {% endfor %}

{% endblock main %}






