{%  extends 'base.html.twig' %}


{% block title %}
    <title>{{"Article"}}</title>
{% endblock %}

{% block main %}

<article class="list">
    <h2>{{ article. title }}</h2>

</article>

    {% endblock %}

    {% block footer %}
        <p>Article</p>
    {% endblock %}


