
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    {% block title %}
        <title>Blog La Piscine</title>
    {% endblock %}


    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>

<header class="header-top">
    <ul class="nav-items">
        <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Accueil</a></li>
{#        <li class="nav-item"><a class="nav-link" href="{{ path('articles') }}">Articles</a></li>
#}
    </ul>
</header>

{% for message in app.flashes('success') %}
    <p class="message-success">{{ message }}</p>
{% endfor %}

<main>

    {% block main %}
    {% endblock main %}

</main>

<footer>
    {% block footer %}
        <p>Les articles</p>
    {% endblock %}
</footer>

</body>
</html>