
{% extends 'base.html.twig' %}


{% block main %}

    <nav>
        <ul class="ul-articles">

            <li class="lien-articles"><a href="{{ path('app_login') }}">Login</a></li>



        </ul>
    </nav>




{% for article in articles %}
<article class="accueil">


        <h2>{{ article. title }}</h2>
        <p>{{ article. author }}</p>

</article>
{% endfor %}

{% endblock %}
    {% block footer %}
        <p>Accueil</p>
    {% endblock %}

