{%  extends 'base.html.twig' %}

    {% block main %}

<article class="list">
    <h2>{{ show_ref. title }}</h2>
    <p>{{ show_ref. description }}</p>
    <p>{{ show_ref. author }}</p>
    <img src="{{ show_ref. image }}" alt="">
</article>

    {% endblock %}


